.app {
  display: flex;
}

.main {
  flex-basis: 60%; /* main will take 60% of the width */
  display: flex;
  flex-direction: column;
}

.map {
  flex-grow: 1; /* maps take the remaining 40% of the screen width */
  height: 100vh; /* take 100% of the view height */
  top: 0;
  position: sticky; /* doesn't scroll the map when the flats are scrolled */
}

.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
